# --- Android Standard ---
*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# --- Reglas Agresivas (Para evitar tus errores actuales) ---
# Ignorar librerías de sistema y temporales
*.dll
*.so
*.dylib

# Ignorar carpetas basura en cualquier profundidad (**)
**/native/
**/cxx/
**/caches/
**/daemon/
**/wrapper/dists/